	<div class="row">
		<div class="small-12 columns">    
			<h1>Episodes</h1>
			<div class="pagination-centered">
  				<%= will_paginate @episodes, renderer: FoundationPagination::Rails %> 
  			</div>
			
  			<div class=" row">
				<div class="margin-top small-12 columns">
					<div class="small-uncollapse medium-collapse row">
						<%@episodes.each do |episode| %>
							<%=link_to episode, class: "text-center small-12 medium-4 columns frame" do %>
								<%=image_tag("http://img.youtube.com/vi/#{episode.uid}/maxresdefault.jpg")%>
							<%end%>
						<% end%>
					</div>
				</div>
			</div>
		
			<div class="pagination-centered">
  				<%= will_paginate @episodes, renderer: FoundationPagination::Rails %> 
  			</div>
  			
		</div>
	</div>
