	<div class="row">
		<div class="small-12 columns">    
			<h1>Episodes</h1>
			<div class="pagination-centered">
  				<%= will_paginate @episodes, renderer: FoundationPagination::Rails %> 
  			</div>
			<ul class="medium-block-grid-3">
	
				<%@episodes.each do |episode| %>
					<li><%=link_to episode do %>
						<%=image_tag(episode.thumbnail)%>
					<%end%>
					</li>
				<% end%> 
			</ul>
			
			<div class="pagination-centered">
  				<%= will_paginate @episodes, renderer: FoundationPagination::Rails %> 
  			</div>
  			
		</div>
	</div>
