<div class="row">
	<div class="small-12 columns">
		
		<ul class="breadcrumbs">
			<li><%=link_to('Episodes', episodes_path)%></a></li>
			<li><a href="#"><%=@episode.title%></a></li>
		</ul>
		<h1><%=@episode.title%></h1>
	</div>
</div>
