<div class="margin-top full-width dark">
	<div class="row">
		<div class="text-shadow margin-top small-centered small-12 medium-8 columns">
			<header class="alt">
				<h1>Time Travel is a Funny Thing…</h1>
			</header>
			<div class="autoplay">
				<div class="wanted"><%=image_tag('qt1.jpg')%></div>
				<div class="wanted"><%=image_tag('qt5.jpg')%></div>
				<div class="wanted"><%=image_tag('qt2.jpg')%></div>
			</div>
		</div>
	</div>
	<div class="row text-shadow">
		<div class="blurb small-centered small-12 medium-8 columns">
			<p><strong>Four women, two dating, one time traveler.</strong>  Our series takes place in the not-so-distant future, where time travel has been perfected and become a form of tourism, run by the tourism company Time Away from Home. </p>

			<p> Rather than traveling to a dilapidated castle from Tudor times, for instance, tourists can experience daily life in Renaissance England for themselves.  All these tourists from the future have caused disturbances in the fabric of time. </p>

			<p>Our hero, Henri, has invented a version of the time machine that pinpoints specific turning points in history weakened by the tourists, so she can go back in time to ensure history happens the way it’s supposed to. </p>


			<p>Henri lives with her outspoken fiancée, Kim, her party girl of a future sister-in-law, Lauren, and Kim’s bubbly best friend, Molly.  Our series follows their day-to-day lives as they record their experiences for the world.</p>

			<p><strong>Make sure to tune in every Monday for a new episode, and subscribe, so you don’t miss a thing!</strong></p>
			
		</div>	
	</div>
</div>