<div class="margin-top full-width dark">
	<div class="row">
		<div class="text-shadow margin-top small-12 medium-8 columns">
			<header class="alt">
				<h1>Time Travel is a Funny Thing…</h1>
			</header>
		</div>
	</div>
	<div class="row text-shadow" data-equalizer>
		<div class="autoplay">
			<div>
				<div class="flex-parent small-12 medium-6 columns" data-equalizer-watch>
				<div>
					<p>In the not-so-distant future, time travel has been perfected and sold as tourism by <strong>Time Away from Home</strong>.  All of history is at the fingertips and in frame of the selfie sticks of these tourists.  </p>

					<p>But these time tourists are screwing up history with each selfie.</p>

					<p>Enter our hero, <strong>Henry Wells</strong>, a self-employed, time traveling vigilante, who's taken it upon himself to correct the problem.  With his robot companion,<strong> Robot</strong>, to pinpoint weak points in history, he can go back and correct history. </p></div>
				</div>
				<div class="flex-parent small-12 medium-6 columns" data-equalizer-watch>
					<div class="wanted"><%=image_tag('qt1.jpg')%></div>
				</div>
			</div>
			<div>
				<div class="flex-parent small-12 medium-6 columns" data-equalizer-watch>
					<p> Meanwhile, his fiancée, <strong>Kim</strong>, is working her way into a career with Time Away from Home.</p>

					<p><strong>Quality Time</strong> follows Kim and Henry via the cameras they’ve planted in their house.  We see their day-to-day dramas of balancing life and time travel while she plans their wedding.  </p>
				</div>
				<div class="flex-parent small-12 medium-6 columns" data-equalizer-watch>
					<div class="wanted"><%=image_tag('qt2.jpg')%></div>
				</div>
			</div>
			<div>
				<div class="flex-parent small-12 medium-6 columns" data-equalizer-watch>
					<p>As if planning a wedding wasn't hard enough, it’s even harder when your fiancé is a time travelling vigilante determined to prevent time tourism from destroying history.</p>

					<p><strong>Make sure to tune in every Monday for a new episode, and subscribe, so you don’t miss a thing!</strong></p>
				</div>
				<div class="flex-parent small-12 medium-6 columns" data-equalizer-watch>
					<div class="wanted"><%=image_tag('qt5.jpg')%></div>
				</div>
			</div>
		</div>
	</div>
</div>