<div class="row">
	<div class="small-12 columns">
		<div class="flex-video"> 			
  			<iframe width="560" height="315" src="<%=@latest_episode.link%>"frameborder="0" allowfullscreen></iframe>
  		</div>
	</div>
</div>