<div class="row">
	<div class="small-12 columns">
		<div class="flex-video"> 
			<% if !@latest_episode.nil? %>			
  				<iframe width="560" height="315" src="<%=@latest_episode.link%>"frameborder="0" allowfullscreen></iframe>
  			<%else%>
  				<h2 class="text-centered">Oops, there are no videos!</h2>
  			<%end%>
  		</div>
	</div>
</div>