<%=render "headline" %>
<div class="margin-top text-shadow full-width dark">
	<div class="row">
		<div class=" margin-top small-12 medium-8 columns">
			<header>
				<h1>A Show About Time Travel</h1>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="margin-top small-12 medium-6 columns">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti assumenda, tenetur vitae dolor aperiam, in sunt unde provident harum perferendis voluptates omnis explicabo quae facere numquam velit asperiores fugiat.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum omnis ipsam autem rem corporis ullam voluptatum, vero? Nobis illum dolore voluptates, facere iusto eaque aut odio id voluptas optio harum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt incidunt soluta voluptas eligendi odio, fugiat, voluptatem, maxime officiis voluptatibus beatae numquam neque temporibus perferendis, at? Perferendis maxime sint delectus omnis.</p>
			<%=link_to "Learn More", about_path, class: "button secondary large"%>
		</div>
		<div class="margin-top small-12 medium-6 columns">
			<%=image_tag("amanda.jpg", class: "frame" )%>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h2>Meet the Cast and Crew</h2>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h2>Latest Blog Posts</h2>
	</div>
</div>
 <div class="row">
 	<div class="small-12 columns">
 		<h2>Spend Some Quality Time with Quality Time</h2>
 		<ul class="small-block-grid-3">
			<li>facebook</li>
			<li>twitter</li>
			<li>youtube</li>
		</ul>
 	</div>
 </div>


  
   