<div class="row">
	<div class="small-12 columns">
		<div class="flex-video">
			<iframe id="ytplayer" type="text/html"
  			src="<%=@latest_episode.link%>"
  			frameborder="0"/>
  		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h1>A Show About Time Travel</h1>
		<p> Quality Time is a comedy about a couple, one of whom happens to be a time traveler.</p>
	</div>
</div>
 
  
   