// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

.about-images .about-image{
	margin: 2rem 0;
}

.about-image{
	position: relative;
	span{
		color: white !important;
	}
	
	.about-image-blurb, &:after{
		position: absolute;
		opacity: 0;
		transition: 300ms all ease-in-out;
	}
	
	.about-image-blurb{
		z-index: 3;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 1rem;
		text-align: left;
		display: table;
		height: 200px;
		& p{
			a{
				color: $taupe;
				transition: 300ms all ease-in-out;
				&:hover{
					color: darken($taupe, 10%);
					text-decoration: underline;
				}
			}
			color: white;
			display: table-cell;
			vertical-align: middle;
		}
	}

	&:after{
		border-radius: 50%;
		border: 1px solid rgba(white, .75);
		height: 200px;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		background-color: rgba($jet, .75);
		
	}
	img{
		height: 200px;
		border-radius: 50%;
		box-shadow: 1px 1px 3px $jet;
		transition: 300ms all ease-in-out;

	}

	&:hover{
		img{
			border-radius: 20px;
			box-shadow: 0px 0px 1px $jet;
		}

		.about-image-blurb, &:after{
			border-radius: 20px;
			opacity: 1;
			
		}
	}
}