body{
	background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.75) 50%, rgba(255,255,255,0) 100%), image-url("paper.png");
	background-size: contain;
	background-position: center center;
	min-height: 100vh;
	height: auto;
	
}

.logo{
	margin: 20px;
}

.icon-bar{
	box-shadow: 1px 1px 2px 1px #222;
	.item:hover{
		text-decoration: underline;	
	}
}
