@import "vars";

header{
	position: relative;

	&:after{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
	}

}

header.alt{
	h1, h2, h3, h4, h5, h6{
		color: white !important;
	}
}

header.alt:after{
	border-bottom: 1px solid white;

}

header.std:after{
	border-bottom: 1px solid $jet;
}

.flex-parent{
	display: flex;
	flex-direction: column;
 	justify-content: center;
}


.breadcrumbs > * a{
	&:hover{
		color: darken($primary-color, 20%);
	}
}

.slick-dots li button::before {

	color: $primary-color !important;
}

.margin-top{
	margin: 2rem auto;
}

.text-shadow{
	text-shadow:2px 2px 2px $jet;
}

.flex-video{
	box-shadow: 1px 1px 2px 1px $jet;
}

.full-width{
	width: 100%;
}

.banner{
	background-color: #CFD0B0;
}


.logo{
	margin: 40px 0 0;
}

.top-bar, .icon-bar-nav{
	box-shadow: 1px 1px 2px 1px #222;
}

.icon-bar-nav{
	height: rem-calc(95);
	width: 100%;
	background-color: rgba($primary-color, 0.90);
	margin: 40px 0;
	
}

.icon-bar>.item:hover, .mobile-nav>li>a:hover{
	text-decoration: underline;	
}

nav a{
	transition: 200ms all ease-in-out;
}

.mobile-nav>li{
	a{
		label{
			font-size: .95rem;
			padding-top: .5rem;
		}
	}
}

.frame-wrap{
	box-shadow:  1px 1px 5px 0px rgba(0,0,0,.75);

}

.button{
	box-shadow: 1px 1px 2px 1px $jet;
}

footer{
	margin-top: 2rem;
	padding: 2rem 0;
	box-shadow: 0px -1px 2px 1px $jet;
	min-height:auto;
	@media #{$small-only}{
		height: auto;
	}
	background-color: $olive;
	background-image: image-url('clock.svg');
	background-size: 100% 150%;
	background-repeat: no-repeat;
	color: white;

	.margin-top{
		@media #{$small-only}{
			margin: 1rem auto;
		}
	}

	.footer_nav{
		list-style-type: none;
		margin: 0 auto;
		@media #{$small-only}{
			margin: 1rem auto;
		}

		li{
			display: inline-block;
			margin: 1rem 1rem;

			@media #{$small-only}{
				display: block;
				margin: 0;
				text-align: center;
			}

			&.divider{
				@media #{$small-only}{
					display: none;
			
				}
			}
		}

		li>a{

			color: white;
			transition: 200ms all ease-in-out;
			&:hover{
				color: $primary-color;
				text-decoration: underline;
			}
		}
	}
	
	.footer_social{
		margin: 0 auto;
	}
	.footer_social li{

		&:first-child{
			text-align: right;
		}

		&:last-child{
			text-align: left;
		}
		
		a.social_link{
			display: inline-block;
			height: 50px;
			width: 50px;
			transition: 200ms all ease-in-out;
		
			&#fb{
				background-image: image-url('facebook.svg');
				transition: 200ms all ease-in-out;
				&:hover{
					background-image: image-url('facebook-alt.svg');
				}
			}
			&#twitter{
				background-image: image-url('twitter-bird.svg');
				transition: 200ms all ease-in-out;
				&:hover{
					background-image: image-url('twitter-bird-alt.svg');
				}
			}
			&#youtube{
				background-image: image-url('you-tube.svg');
				&:hover{
					background-image: image-url('you-tube-alt.svg');
				}
			}
			
		}
	
	}
}

