// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";
.dark{
	padding: 4rem 0;
	background-color: $primary-color;
	background-image: image-url('gears.svg');
	background-size: cover;
	box-shadow: 0px 0.5px 2px 1px $jet, 0px -0.5px 2px 1px $jet;
	h1, h2, h3, h4, h5, h6{
		color: white !important;
	}
	color: white;

}

.blurb{
	background-color: rgba($jet, 0.65);
	border: 1px solid rgba(white, 0.75);
	border-radius: 20px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

div.wanted>img{
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,.75);
	border: 10px solid lighten($taupe, 10%);
}

article.row, .autoplay{
	margin-top: 1.5rem !important;
} 

.wanted{
	position: relative;

	&:after{
		position: absolute;
		transform: rotate(-25deg);
		bottom: 45%;
		left: 1%;
		right: 1%;
		font-size: 2.5rem;
		text-align: center;
		background-color: rgba($taupe, 0.85);
		text-shadow: none;
		box-shadow: 1px 1px 0px $jet;
		color: $olive;
		content: "WANTED!";
	}
}

.home-post{
	height: 100%;
	
	background-image: linear-gradient(to right, rgba($primary-color, 0.75) 0%, rgba($primary-color, 0.75)), image-url('q.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 1rem;
	transition: 200ms all ease-in-out;
	box-shadow: 1px 1px 3px $jet;
	&:hover{
		transform: scale(1.05);
		background-image: linear-gradient(to right, rgba($primary-color, .9) 0%, rgba($primary-color, .9) 100%), image-url('q.svg');
	}
	p, a{
		color: $jet !important;
	}
}

.posts{
	min-height: 400px;
}