<footer class="flex-parent">
	
	<div class="row">
	
		<%=render "layouts/partials/footernav" %>
		<div class="small-12 columns ">	
			<header class="alt">
			
			</header>
			<p class="text-center ">&copy; 2016 Sarah Terry</p>
			<%=render "layouts/partials/social" %>
		</div>
	</div>
</footer>