
	<div class=" small-centered small-12 columns">
 		<ul class="footer_social text-center small-block-grid-3">
			<li>
				<a id="insta" class="social_link" target="blank" href="https://www.instagram.com/qualitytime22/">
					
				</a>
			</li>
			<li>
				<a id="twitter" class="social_link" target="blank" href="https://twitter.com/QualityTime22">
				
				</a>
			</li>
			<li>
				<a id="youtube" class="social_link" target="blank" href="https://www.youtube.com/channel/UCKfAhPzKZn656FH0mIB29FQ">
				
				</a>
			</li>

		</ul>
 	</div>
