
	<div class=" small-centered small-12 columns">
 		<ul class="footer_social text-center small-block-grid-3">
			<li>
				<a id="fb" class="social_link" target="blank" href="http://www.facebook.com/quality-time">
					
				</a>
			</li>
			<li>
				<a id="twitter" class="social_link" target="blank" href="http://www.twitter.com/quality-time">
				
				</a>
			</li>
			<li>
				<a id="youtube" class="social_link" target="blank" href="http://www.youtube.com/quality-time">
				
				</a>
			</li>

		</ul>
 	</div>
